@page
@model IndexModel
@{
    ViewData["Title"] = "Big Mama Pizzaria";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <img src="https://cdn-icons-png.flaticon.com/512/6978/6978255.png" />
    <h2 class="display-4">Bestilling</h2>
    <p></p>
    <p>Vi har åben alle hverdage 10 - 20, weekender 11 - 21</p>
    @* <p>Vi har åben alle hverdage 10:00 til 20:00 og weekender 11:00 til 21:00</p> *@
    <p>Du kan med fordel bestille igennem vores hjemmeside eller du kan kontakte os på +45 24 21 96 06.</p>
    <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInput">Fornavn</label>
            <input type="text" class="form-control" id="autoSizingInput" placeholder="Fornavneren">
        </div>

        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInputGroup">Efternavneren</label>
            <div class="input-group">
                <div class="input-group-text">
                </div>
                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Efternavn ELLER MELLEMNAVN HEHE">
            </div>
        </div>

        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInputGroup">Adresse</label>
            <div class="input-group">
                <div class="input-group-text">
                </div>
                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Adresse">
            </div>
        </div>

        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingInputGroup">Postnummer</label>
            <div class="input-group">
                <div class="input-group-text">
                </div>
                <input type="text" class="form-control" id="autoSizingInputGroup" placeholder="Postnummer">
            </div>
        </div>

        <div class="col-auto">
            <label class="visually-hidden" for="autoSizingSelect">Preference</label>
            <select class="form-select" id="autoSizingSelect">
                <option selected>Levering</option>
                <option value="1">Afhent i butik</option>
                <option value="2">Leveringsbud</option>
            </select>

        </div>
        <div class="col-auto">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="autoSizingCheck">
                <label class="form-check-label" for="autoSizingCheck">
                    Remember me
                </label>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Bestil</button>
        </div>
    </form>
</div>
